.sidenav-container {
    height: calc(100vh - 64px);
  }

  mat-sidenav {
    width: 280px;
    padding: 1rem;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
  }

  .sidebar-header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: 1rem;
  }

  .search-sort-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .search-box {
    flex: 1;
  }

  .sort-icon-button {
    height: 56px;
    margin-top: 4px;
  }

  .sidebar-list-wrapper {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0;
    min-height: 0;
    height: 100%;
  }

  .add-button-wrapper {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    background: white;
    z-index: 10;
    padding: 1rem;
  }

  .add-button {
    margin-right: 0.5rem;
  }


.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4px;
  border-bottom: 1px solid #e0e0e0;
}

.item-row .item-text {
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 0 0;
}

.item-row .item-type {
  font-size: 0.85em;
  color: #666;
  margin: -6px 0 0 0;
  text-transform: capitalize;
}

.item-row .item-icon {
  align-self: center;
  margin: 0;
}

.item-row > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.mdc-list-item{
  padding: 0 !important; /* remove Angular Material's spacing */
}

  @media (max-width: 767px) {
    .sidenav-container {
      flex-direction: column;
    }

    mat-sidenav {
      width: 100%;
    }

  }

  .mat-drawer-container{
    background-color: white;
  }