<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" button mat-icon-button (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-title">My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>